Hello $customerName 

  Please find the quotation for your order Ref - $docNo Dated - $docdate attached herewith.

 
 Looking forward to doo business with you  
 $companyName  
 
 Please visit our showroom
 $address1
 $address2
 $city
 $pin
 
 call us at $storephone or $salesphone for personalized buying experience.
 
 